.card-container {
  display: flex;
  border-radius: 4px;
  padding: 0;

  .image {
    width: 120px;
    height: 120px;
    padding: 10px;
  }

  .left-side {
    display: flex;
    align-items: center;
  }

  .rigth-side {
      background-color: #ECEFFE;
      padding: 10px;

      .title {
        color: #3F51B5;
      }
  }
}