<div class="container">
  <div class="welcome-message">
    <img class="logo"
         [src]="'assets/icons/logo.svg'">
    <h1 class="welcome-message-text title">
      Welcome to Mnemosyne!
    </h1>
    <div class="welcome-message-text description">
    </div>
  </div>

  <div class="input-card">
    <mat-card>
      <mat-card-title>
        {{isOnRegisterPage ? 'Register' : 'Login'}}
      </mat-card-title>
      <mat-card-subtitle>
        <mat-error *ngIf="loginInvalid">
          Something went wrong
        </mat-error>
      </mat-card-subtitle>
      <mat-card-content>
        <form class="form"
              [formGroup]="form"
              (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <input matInput
                   [placeholder]="'Email'"
                   formControlName="email"
                   required>
            <mat-error>Rquired</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="isOnRegisterPage"
                          class="full-width">
            <input matInput
                   [placeholder]="'Name'"
                   formControlName="name"
                   required>
            <mat-error>Rquired</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput
                   [placeholder]="'Password'"
                   type="password"
                   formControlName="password"
                   required>
            <mat-error>Rquired</mat-error>
          </mat-form-field>
          <button mat-raised-button
                  color="primary">
            {{isOnRegisterPage ? 'Register' : 'Login'}}
          </button>
        </form>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="footer-button">
    <button mat-raised-button
            (click)="switchPage()">
      {{isOnRegisterPage ? 'Back' : 'Don\'t have an account?'}}
    </button>
  </div>
</div>