:host {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 20px;
}

.card-container {
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100%;
}

.description {
  display: flex;
  flex: 1;
  width: 100%;

  ::ng-deep .mat-form-field-wrapper {
    width: 100%;

    .mat-form-field-flex {
      height: 100%;

      .mat-form-field-infix {
        height: 100%;

        textarea {
          height: 100%;
        }
      }
    }
  }
}

.buttons-container {
  display: flex;
  gap: 10px;
}