<mat-card class="card-container">
  <form class="form"
        [formGroup]="form">
    <mat-form-field class="full-width">
      <input matInput
             [placeholder]="'Title'"
             formControlName="title"
             required>
      <mat-error>Required</mat-error>
    </mat-form-field>

    <mat-form-field class="description full-width">
      <textarea matInput
                [placeholder]="'Description'"
                formControlName="description"></textarea>
    </mat-form-field>
    <div class="buttons-container">
      <button mat-stroked-button
              (click)="goBack()">
        Back
      </button>
      <button *ngIf="isEditMode"
              mat-raised-button
              color="warn"
              (click)="removeNote()">
        Delete
      </button>
      <button mat-raised-button
              [disabled]="!isFormChangedAndValid"
              color="primary"
              (click)="onSubmit()">
        Save
      </button>
    </div>
  </form>
</mat-card>