:host {
  display: flex;
  flex: 1;
  justify-content: center;
}

.notes-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.no-notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .no-notes-icon {
    height: 200px;
    width: 200px;
  }

  .no-notes-desciption {
    width: 70%;
    text-align: center;
    margin-top: 30px;
  }
}

.add-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  
  .add-icon {
    display: flex;
    font-size: 36px;
    justify-content: center;
    align-items: center;
  }
}