.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .left-side,
  .right-side {
    display: flex;
    align-items: center;
  }
}

.user {
  font-size: 14px !important;
}

.img-placeholder {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  margin-left: 10px;
}