<div class="dashboard-container">
  <app-dashboard-card [svgIcon]="'assets/icons/ask-me.svg'"
                      [title]="'Ask me'"
                      [description]="'Here you can ask me a question regarding your past locations.'"
                      [url]="'/ask-me'">
  </app-dashboard-card>
  <app-dashboard-card [svgIcon]="'assets/icons/notes.svg'"
                      [title]="'Notes'"
                      [description]="'Manage your notes so you don\'t forget something.'"
                      [url]="'/notes'">
  </app-dashboard-card>
  <app-dashboard-card [svgIcon]="'assets/icons/games.svg'"
                      [title]="'Games'"
                      [description]="'Take a break from this busy world and challenge your mind with some memory games.'"
                      [url]="'/games'">
  </app-dashboard-card>
</div>