<div class="dashboard-container">
  <app-dashboard-card [svgIcon]="'assets/icons/ask-me.svg'"
                      [title]="'cardAskMe'"
                      [description]="'cardAskMeDescription'"
                      [url]="'/ask-me'">
  </app-dashboard-card>
  <app-dashboard-card [svgIcon]="'assets/icons/notes.svg'"
                      [title]="'notes'"
                      [description]="'cardNotesDescription'"
                      [url]="'/notes'">
  </app-dashboard-card>
  <app-dashboard-card [svgIcon]="'assets/icons/profile.svg'"
                      [title]="'profile'"
                      [description]="'cardProfileDescription'"
                      [url]="'/profile'">
  </app-dashboard-card>
  <app-dashboard-card [svgIcon]="'assets/icons/logout.svg'"
                      [title]="'logout'"
                      [description]="'logoutDescription'"
                      [url]="'/authenticate'">
  </app-dashboard-card>
</div>